body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .banner {
    background-image: url("../Images/Cloud.jpg");
    height: 75%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 75px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(23, 99, 241);
    margin-left: 0%;
    margin-right: 0%;
    position:relative;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a:hover {
    background-color: rgb(99, 145, 245);
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(221, 172, 11);
    color: white;
  }

  .topnav {
    overflow: hidden;
    background-color: rgb(23, 99, 241);
    margin-left: 0%;
    margin-right: 0%;
    position:relative;
  }
  
  .footer {
    position: absolute; /* Korjaa niin, ettei mene sekaisin ikkunan korkeutta muutettaessa */
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(99, 145, 245);;
  }

  .main {
      text-align: center;
  }

  #tresults {
    border-collapse: collapse;
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
  }

  #tresults td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #tresults th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(63, 137, 223);
    color: white;
  }

  #allOrNothing {
    border-collapse: collapse;
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
  }

  #allOrNothing td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #allOrNothing th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(63, 137, 223);
    color: white;
  }

  #wresults {
    border-collapse: collapse;
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
  }

  #wresults td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #wresults th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(63, 137, 223);
    color: white;
  }

  #presults {
    border-collapse: collapse;
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
  }

  #presults td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #presults th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(63, 137, 223);
    color: white;
  }